body {
    font-family: 'Arial', sans-serif;
    background-color: #fff0f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: #d14784;
    margin-bottom: 20px;
}
.scenario-description {
    font-size: 3 rem; /* גודל  */
    color: #d14784;
    font-family: 'Georgia', serif; /* גופן עם סגנון קלאסי */
    font-weight: bold; /* מודגש */
    font-style: italic; /* נטוי */
    margin-bottom: 35px;
    text-align: center;
    max-width: 600px;
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(69, 67, 67, 0.3); /* צל לטקסט */
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: #ff69b4;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d14784;
}